beautifulsoup4==4.13.4
bs4==0.0.2
certifi==2025.4.26
charset-normalizer==3.4.2
idna==3.10
prompt_toolkit==3.0.51
PyYAML==6.0.2
questionary==2.1.0
requests==2.32.3
soupsieve==2.7
typing_extensions==4.13.2
urllib3==2.4.0
wcwidth==0.2.13
